<a href="https://colab.research.google.com/github/likhith-nagaraju-gowda/PYTHON_WORKSHOP/blob/main/my_code_world.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

hello boss program

In [ ]:
print("hello boss")

hello boss

In [ ]:

g = "gouri"
print(type(g))
print(type(x))
x=int(.999)
print(x)
x , y , z = "orange",7,int(7.333)
print(x,y,z)
print(y)
print(z)
x = y = z = "sharu cherry"
print(x)
print(y)
print(z)

<class 'str'>
<class 'str'>
0
orange 7 7
7
7
sharu cherry
sharu cherry
sharu cherry

exercise 1 and 2

In [ ]:
carname="Rolls Royce"
x=50
print(carname,x)
print(type(carname),type(x))

Rolls Royce 50
<class 'str'> <class 'int'>

exercise 3

In [ ]:
x=5
y=10
print(x+y)

15

exercise 4

In [ ]:
x , y = 11,17
z=x+y
print(z)

28

 **DATATYPES** **EXAMPLE**

In [ ]:
x1 = "Hello World"   
x2 = 10
x3=10.1
x4=["apple","banana","cherry"]
x5=("apple","banana","cherry")
x6=range(6)
x7={"Name" : "Likhith", "Age" : 36}
x8={"Apple", "Banana", "cherry"}
x9=True

In [55]:
print(type(x1),type(x2),type(x3),type(x4),type(x5),type(x6),type(x7),type(x8),type(x9))
print(x1,x2,x3,x4,x5,x6,x7,x8,x9)
x=3+5j
print(x,type(x))
print(len(x1))

<class 'str'> <class 'int'> <class 'float'> <class 'list'> <class 'tuple'> <class 'range'> <class 'dict'> <class 'set'> <class 'bool'>
Hello World 10 10.1 ['apple', 'banana', 'cherry'] ('apple', 'banana', 'cherry') range(0, 6) {'Name': 'Likhith', 'Age': 36} {'Banana', 'Apple', 'cherry'} True
(3+5j) <class 'complex'>
11

In [39]:
x={1,2,3,2}
print(x)

{1, 2, 3}

In [44]:
x=1
y=2.8
z=1j
a=float(x)
b=int(y)
c=complex(y,x)
print(a,b,c)

1.0 2 (2.8+1j)

**assignment** **1**

In [53]:
x,y = 2,3
a=str(x)
b=str(y)
c=a+b
print("x + y =",c)

x + y = 23

**STRINGS**

In [71]:
alvas="life in alvas is hell"
print("heaven" in alvas)

False

#**slicing**

In [67]:
txt="life is costlier than u think"
print(txt[0:4])
print(txt[ :8])
print(txt[8:])
print(txt[-5:])
print(txt.upper())

life
life is
costlier than u think
think
LIFE IS COSTLIER THAN U THINK

#**format in python**

In [74]:
age = 20000
txt="my name is Sharu Cherry, and i am {}"
print(txt.format(age))

my name is Sharu Cherry, and i am 20000

inbuilt string functions

In [83]:
txt="LIKHITH"
print(txt.capitalize())
print(txt.upper())
print(txt.isupper())
print(txt.isalpha())
print(txt.isdigit())

Likhith
LIKHITH
True
True
False

#**ASSIGNMENT**#

In [4]:
x=int(input("INPUT THE VALUE FOR X"))
y=int(input("INPUT THE VALUE FOR Y"))
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)

INPUT THE VALUE FOR X2
INPUT THE VALUE FOR Y3
5
-1
6
0.6666666666666666
2

#**PYTHON LIST**

In [7]:
thislist= list(("abhishek", "vishak", "jayraj"))
print(thislist)
print(len(thislist))

['abhishek', 'vishak', 'jayraj']
3